= form_for @task, :html => { :class => "form-horizontal task" } do |f|
  - if @task.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@task.errors.count, "error")
          |  prohibited this task from being saved:
      .panel-body
        ul
          - @task.errors.full_messages.each do |msg|
            li
              = msg
  .form-group
    .col-lg-10
      = f.text_field :text, placeholder: 'Enter task here...', :class => 'form-control'
  .form-group
    .col-lg-10
      = f.date_select :scheduled_at, id: :task_scheduled_at

  .form-group
    .col-lg-10
      | Assign to project:
      = f.collection_select :project_id, Project.where(user: current_user), :id, :name, :prompt => "None"

  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary', :style => "margin: 20px"
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
      -                 tasks_path, :class => 'btn btn-default'
